@charset "utf-8";
@import url(main.css);

body {
  background-color: #f2f2f2;
}
.container {
  width: 40%;
  max-width: 650px;
  min-width: 390px;
  margin: 200px auto;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
form h2 {
  color: #4484f3;
  margin-bottom: 10px;
}
.user-input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.user-input i {
  width: 14px;
  color: #888;
}
.user-input input {
  width: 100%;
  /* height: 30px; */
  padding: 10px 12px;
  border: 1px solid #888;
  border-radius: 5px;
}
button {
  width: 100%;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
}
button[type="submit"] {
  background-color: #4484f3;
  color: #fff;
  margin-bottom: 10px;
}
button[type="button"] {
  width: 40%;
  margin-left: auto;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #f8f9fa;
  color: #333;
}
/* 버튼 hover */
button[type="submit"]:hover {
  background-color: #166afc;
  cursor: pointer;
}
button[type="button"]:hover {
  border: 1px solid #e4e4e4;
  cursor: pointer;
}
